<link rel="stylesheet" href="assets/style.css">
body {
    background-color: bisque;
}
footer {
    background-color: black;
    color: white;
}
footer {
    background-color: black;
    color: white;
    bottom:0;
    position:fixed;
    width:100%;
}
footer p{
    text-align: center;
    font-size: 0.6rem;
}
height:2rem;
margin-top: 0,5rem;
font-family: Bai Jamjuree;
#container {
    display:flex ;
}
.cartao {
    margin: 1rem 1rem;
}
<div class="cartao__conteudo__pergunta">
    <p>O que é Java Script?</p>
</div>                        
<div class="cartao__conteudo__resposta">
    <p>O Java Script é uma linguagem de programação.</p>
</div>
<div class="cartao__conteudo__pergunta">
    <p>O que é CSS?</p>
</div>                        
<div class="cartao__conteudo__resposta">
    <p>O CSS é uma linguagem de estilização.</p>
</div>
.cartao {
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;
}
.cartao {
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% -6rem);
}
<article class="cartao">
    <div class="cartao__conteudo">
        <h3> Programação </h3>
        <div class="cartao__conteudo__pergunta">
            <p>O que é CSS?</p>
        </div>                        
        <div class="cartao__conteudo__resposta">
            <p>O CSS é uma linguagem de estilização.</p>
        </div>
    </div>
</article>
.cartao__conteudo {
    text-align: center;
    height: 100%;
}
.cartao__conteudo h3 {
    background-color: tomato;
    text-align: left;
    padding: 0.5rem;
}
.cartao__conteudo h3 {
    background-color: tomato;
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
}
body {
    background: url('img/bg-desktop.webp');
    font-family: Bai Jamjuree;
}
:root {
    --text-color: #DBE4EF;
    --card-front-color: #144480;
    --card-back-color: #00F4BF;
}
.cartao__conteudo h3 {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
}
.cartao__conteudo {
    text-align: center;
    height: 100%;
    background-color: var(--card-front-color);
}
